body{
    border: 2px;
    border-style: solid;
    color:burlywood;
    padding: 20px;
    margin: 20px;
    font-family: 'Courier New', Courier, monospace;
    max-width: 100%;
}


header{
    margin: 20px;
    max-width: 90%;
}

header h1{
    font-size: 50px;
    text-align:center;
    color: burlywood;
    max-width: 90%;
    padding-left: 20px;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: white;
    overflow: hidden;
   
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: burlywood;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: white;
    color: burlywood;
    text-decoration: underline;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    border: 2px;
    border-style: solid;
    color: burlywood;
    background-color: white;
    text-decoration: none;
  }
.row h2{
    color: burlywood;
    padding-left: 30px;
}
   /* Create two equal columns that sits next to each other */
.lead {
    font-size: 35px; 
    text-align:center;
    margin: 30px;
}   
.column {
    flex: 25%;
    max-width: 50%;
    padding: 4px 4px;
  }
  
.column img {
    margin: 10px;
    vertical-align: middle;
    width: 90%;
    column-gap: 20px;
    justify-content: space-between;
  }
.column2{
    max-width: 55%;
    font-size: 20px;
    padding: 5px;
}  
.column2 img{
    margin:100px;
    max-width: 60%;
    padding: 0;
    margin-right: 20px;
    justify-content: space-between;
    
}

.column3{
    font-size: 20px;
    padding: 30px;
    
    
}

.row {
        display: flex;
        flex-wrap: wrap;
       padding: 0 50px;
     }
.content{
    font-size: 30px;
    text-align: center;
}
.afterwords{
    padding:20px;
    font-size: 20px;
}
.signature{
text-align: center;
font-size: 20px;
}
    /* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 500px) {
    .column {
      flex: 50%;
      max-width: 90%;
    }
    .column2{
        flex: 50%;
        max-width:70%;
    }
}
footer{
        background-color: white;
        padding: 0px;
        margin: 0px;
        block-size: 50px;
        text-align: center;
    }
